name: CI-CD

on:
  push:
    branches:
    - main
    paths:
    - contents/*
    - .github/workflows/ci-cd.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/powerplatform-actions/pack-solution@0.4.2
        with:
          solution-file: contoso_university_core.zip
          solution-folder: contents
          solution-type: Both
      - uses: actions/upload-artifact@v2
        with:
          name: core
          path: contoso_university_core*.zip
