name: CI-CD

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/powerplatform-actions/pack-solution@0.4.2
        with:
          solution-file: contoso_university_core.zip
          solution-folder: contents
          solution-type: Both
